<section class="footer">
  <div class="footer-part1">
    <div class="account">
        <h4>My Account</h4>
        <p>Login</p>
        <p>Sign Up</p>
        <p>My Profile</p>
    </div>
    <div class="categories">
        <h4>Categories</h4>
        <p>Mens</p>
        <p>Womens</p>
        <p>Running</p>
        <p>Weightlifting</p>
    </div>
  </div>
  <div class="footer-part2">
    <div class="payment">
      <img src="../../../assets/images/svg_icons/icons8-visa-48.png">
      <img src="../../../assets/images/svg_icons/icons8-mastercard-48.png">
      <img src="../../../assets/images/svg_icons/icons8-paypal-48.png">
      <img src="../../../assets/images/svg_icons/icons8-apple-pay-50.png">

    </div>
    <div class="social">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <i class="fa fa-pinterest" aria-hidden="true"></i>
    </div>
  </div>
  <div class="footer-part3">
    <div class="company">
      <p>@2023 | FitX Limited | All Rights Reserved | Design By Wian DJ</p>
    </div>
    <div class="legal">
      <p>Terms of Conditons</p>
      <p>Terms of Use</p>
      <p>Privacy Notice</p>
      <p>Cookie Policy</p>
    </div>
  </div>
</section>
