<div style="text-align:center">
  <app-alert></app-alert>
</div>

<div class="outer">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <!-- <div class="offset-md-2  col-lgl5 col-md-7 offset-lg-4 offset-md-3"> -->
      <div class="col-lgl5 col-md-7">
        <div class="panel border bg-white mt-5">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Change Password</h3>
          </div>
          <div class="panel-body p-3">
            <form>
              <!-- /*Current password*/ -->
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    passwordEditForm.controls['User_currentPassword'].dirty &&
                    passwordEditForm.hasError('required', 'User_currentPassword')
                  "
                  [formGroup]="passwordEditForm"
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    [type]="type"
                    placeholder="Current Password"
                    formControlName="User_currentPassword"
                  />
                  <span
                    (click)="hideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  passwordEditForm.controls['User_currentPassword'].dirty &&
                  passwordEditForm.hasError('required', 'User_currentPassword')
                "
                >Password is required</small
              >
              <!-- /*new password*/ -->
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    passwordEditForm.controls['User_newPassword'].dirty &&
                    passwordEditForm.hasError('required', 'User_newPassword')
                  "
                  [formGroup]="passwordEditForm"
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    [type]="type"
                    placeholder="New Password"
                    formControlName="User_newPassword"
                  />
                  <span
                    (click)="hideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  passwordEditForm.controls['User_newPassword'].dirty &&
                  passwordEditForm.hasError('required', 'User_newPassword')
                "
                >Password is required</small
              >
              <!-- /*confirm new password*/ -->
              <div class="form-group pt-3">
                <div
                  class="input-field"
                  [class.error]="
                    passwordEditForm.controls['User_confirmNewPassword'].dirty &&
                    passwordEditForm.hasError('required', 'User_confirmNewPassword')
                  "
                  [formGroup]="passwordEditForm"
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    [type]="type"
                    placeholder="Confirm Password"
                    formControlName="User_confirmNewPassword"
                  />
                  <span
                    (click)="hideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  passwordEditForm.controls['User_confirmNewPassword'].dirty &&
                  passwordEditForm.hasError('required', 'User_confirmNewPassword')
                "
                >Password is required</small
              >

              <button
                (click)="onSubmit()"
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Save Changes
              </button>
              <!-- <div class="text-center pt-4 text-muted">
                  Have an account?
                  <a id="forgot" routerLink="/login">Sign in</a>
                </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
